/* Center the content vertically and horizontally */
.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hide the scrollbar for Chrome, Edge, and Safari */
.centeredContent::-webkit-scrollbar {
  display: none;
}

/* Style for headings */
.titre {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

/* Style for paragraphs */
.paragraphe {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1.5rem;
}

/* Style for images */
.image {
  max-width: 100%; /* Set max-width to 100% (full width) */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
}

/* Add margin to all elements within the page container */
.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  gap: 1rem;
}

/* Style for the sidebar */
.sidebar {
  width: 10%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: white;
  margin-top: 2rem;
}

/* Style for sidebar links */
.linkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.linkList li {
  margin-bottom: 0.5rem;
}

.linkList a {
  text-decoration: none;
  color: white;
}

/* Language Switch Button Styles */
.languageButton {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Button hover styles */
.languageButton:hover {
  background-color: gray;
}
