.paragraphe {
    margin: 2rem; /* Reduced margin for better spacing */
    color: rgba(255, 255, 255, 0.8); /* Increased opacity for readability */
    text-align: center;
    font-size: 1.25rem; /* Adjusted font size for better readability */
    font-weight: bold; /* Used 'bold' for font-weight */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .paragraphe:hover {
    color: white; /* White on hover for better contrast */
  }
  
  /* Title Styles */
  .titre {
    margin: 2rem; /* Reduced margin for better spacing */
    color: white;
    text-align: center;
    font-size: 2rem; /* Increased font size for emphasis */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .titre:hover {
    color: rgba(21, 96, 189); /* Changed hover color to blue */
  }
  
  /* Subtitle Styles */
  .sousTitre {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  
  /* Media query for smaller screens (e.g., mobile devices) */
  @media (max-width: 768px) {
    .sousTitre {
      font-size: 1rem; /* Adjust the font size for smaller screens */
      margin-bottom: 1rem; /* Reduce margin for smaller screens */
    }
  }
  
  .sousTitre:hover {
    color: white; /* White on hover for better contrast */
  }

  .image {
    display: block;
    margin: 2rem auto 0; /* Added a margin of 2rem on the top */
    max-width: 100%;
    height: auto;
  }



.centerScreen {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* Ensure container takes up at least the full viewport height */
  }
  
  